@media(max-width: 576px){
    .table thead{
        display: none;
    }
    .table, .table tbody, .table tr, .table td{
        display: block;
    }
    .table tr{
        margin-bottom: 15px;
    }
    .table td{
        text-align: right;
        position: relative;
    }
    .table td::before{
        content: attr(data-label);
        position: absolute;
        left: 0;
        font-size: 15px;
        font-weight: bold;
        text-align: left;
    }
}